<div class="container">
    <h1>Admin Dashboard</h1>
    <nav>
      <ul>
        <li><a routerLink="/admin/view-users">View Users</a></li>
        <li><a routerLink="/admin/addproduct">Add Product</a></li>
        <li><a routerLink="/admin/manageProduct">Manage Product</a></li>
        <li><a routerLink="/admin/manageorders">Approve Orders</a></li>
        <li><a routerLink="/admin/manageProduct">Generate Sales Report</a></li>
        <!-- <li><a routerLink="/admin/deleteproduct">Delete Product</a></li>
        <li><a routerLink="/admin/updateproduct">Update Product</a></li> -->
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </nav>
  </div>
  
